<!DOCTYPE html>
<html>
  {% include head.html %}
  <style>
        .wrapper {
      max-width: 1200px; /* Adjust this value to set how wide you want the wrapper to be */
      margin: 0 auto; /* Centers the wrapper */
      padding: 20px; /* Adds padding inside the wrapper */
    }
    </style>

  <body>
    {% include header.html %}

    <div class="page-content">
        <div class="home">
          <div class="wrapper">
  <h1>About xxx</h1>
    <p>This is the xxx </p>

    <!-- Navigation Links -->
    <h2>Contents</h2>
    <!-- <ul>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#software-organization">Software Organization</a></li>
        <li><a href="#source-code">Source Code</a></li>
        <li><a href="#license">License</a></li>
        <li><a href="#prerequisites-and-installation">Prerequisites and Installation</a></li>
        <li><a href="#usage">Usage</a></li>
        <li><a href="#behind-the-scene">Behind the Scene</a></li>
        <li><a href="#publication">Publication</a></li>
    </ul> -->

    <ul>
        <li><a href="../404.html">404</a></li>
        <li><a href="/work.html">post</a></li>
        <li><a href="#source-code">Source Code</a></li>
        <li><a href="#license">License</a></li>
        <li><a href="#prerequisites-and-installation">Prerequisites and Installation</a></li>
        <li><a href="#usage">Usage</a></li>
        <li><a href="#behind-the-scene">Behind the Scene</a></li>
        <li><a href="#publication">Publication</a></li>
    </ul>

    <!-- Content Sections -->
    <h2 id="overview">Overview</h2>
    <p>overview content</p>
    <ul>
        <li>overview 1</li>
        <li>overview 2</li>
        <li>overview 3</li>
    </ul>

    <h2 id="software-organization">Software Organization</h2>
    <p>11 <code>lib/</code> directory.</p>
    <p>22</p>

    <h2 id="source-code">Source Code</h2>
    <p>11</a>.</p>

    <h2 id="license">License</h2>
    <p>xx</a>.</p>

    <h2 id="prerequisites-and-installation">How ?</h2>
    <p>xxxx</a>.</p>

    <h2 id="usage">Usage</h2>
    <p>usage</p>

    <h2 id="behind-the-scene">Behind the Scene</h2>
    <p>xxxx</p>

    <h2 id="publication">Publication</h2>
    
    <p>Copyright xxx.</p>

        </div>
        </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
